on post-fs-data
    start logd
    exec u:r:magisk:s0 0 0 -- /sbin/magisk --post-fs-data

on property:vold.decrypt=trigger_restart_framework
    exec u:r:magisk:s0 0 0 -- /sbin/magisk --service

on nonencrypted
    exec u:r:magisk:s0 0 0 -- /sbin/magisk --service

on property:sys.boot_completed=1
    exec u:r:magisk:s0 0 0 -- /sbin/magisk --boot-complete

on property:init.svc.zygote=stopped
    exec u:r:magisk:s0 0 0 -- /sbin/magisk --zygote-restart